:root{
    --white: #fff;
    --black: #000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.mobile_menu{
    padding: 24px;
}
.mobile_menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /*margin-bottom: 24px;
    display: inline-block;*/

}
.mobile_menu ul{
    margin: 24px 0;
    padding: 0;
    list-style: none;
}
.mobile_menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile_menu ul li{
    margin-bottom: 24px;
}
.email{
    font-size: var(--sm);
    font-weight: 300 !important;
}
.sing_out{
    font-size: var(--sm);
    color: var(--hospital-green)!important;
}